.nav {
  padding-bottom: 1rem;
}

.nav__menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  list-style: none;
}

.nav__link {
  padding: 4px 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav__link_active {
  border-radius: 2rem;
  background: var(--purple-900);
  color: var(--purple-200);
  text-decoration: underline;
}

.nav__link_active:hover {
  color: var(--purple-200);
}
